
.scroll-friends {
	overflow: scroll;
	padding: 10px 0;
	width: 60vw;
	height: 80vh;
	margin: 0 auto;
	position: relative;
}

.friends-menu {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	padding: 0 10px;
}

.errorh1, .friends-menu p {
	color: white;
	text-align: center;
}

.friendItems-box {
	position: relative;
	width: 100%;
	height: 100px;
	border-radius: 18px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .1), 0px -5px 5px rgba(0, 0, 0, .1);
	margin: 10px 0;
	background-color: #161616;
	overflow: hidden;
}

.friendItems-box img {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 20px;
	left: 15px;
	object-fit: cover;
	object-position: center;
}

.friendItems-box h1 {
	position: relative;
	color: white;
	font-size: 20px;
	left: 80px;
	top: 30px;
	font-family: 'Roboto', sans-serif;
}

.removefriend {
	position: absolute;
	height: 49.5px;
	top:0;
	right: 0;
	margin: 0;
	border-radius: 0 18px 0 0;
	border: 2px solid transparent;
}

.message {
	position: absolute;
	height: 49.5px;
	margin:0;
	right: 0;
	bottom:0;
	border-radius: 0 0 18px 0;
	border: 2px solid transparent;
}

.removefriend:hover, .message:hover {
	border: 2px solid #00ffbc;
}

.friendRequests {
	position: absolute;
	right: 0;
	right: 5vw;
	top: 1.5vh;
	height: 40px;
	background-color: transparent;
	border: none;
	margin: 0;
}

.friendRequests:hover {
	border: none;
}

.scroll-requests {
	position: absolute;
	overflow: scroll;
	right: 1.5vw;
	top: 8vh;
	width: 17vw;
	height: 70vh;
	border-radius: 0 0 15px 15px;
	padding: 10px 0;
	background-color: #161616;
}

.friendRequests-window {
	background-color: #161616;
	position: relative;
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align:center;
}

.requestItem {
	width: 16vw;
	height: 60px;
	background-color: #1f1f1f;
	border-radius: 15px ;
	margin: 5px auto;
	position: relative;
	padding: 10px;
	text-align: center;
}

.requestItem h1 {
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	position: relative;
	text-align: left;
}

.requestItem button:nth-child(2) {
	width: 30px;
	height: 29.5px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	border-radius: 0 15px 0 0;
	border: 2px solid transparent;
}

.requestItem button:nth-child(3) {
	width: 30px;
	height: 29.5px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	border-radius: 0 0 15px 0;
	border: 2px solid transparent;
}

.requestItem button:nth-child(2):hover, .requestItem button:nth-child(3):hover {
	border: 2px solid #00ffbc;
}







