* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1f1f1f;
}

.main-container {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	background-color: #1f1f1f;
}

.main-container h1 {
	color: white;
	margin-top: 10px;
}

form {
	position: relative;
	margin-top: 70px;
	height: 600px;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	background-color: #1f1f1f;
}

.input {
	width: 70%;
	position: relative;
	height: 60px;
	overflow: hidden;
}

.input input {
	width:100%;
	height:100%;
	padding-top: 25px;
	border: none;
	outline: none;
	font-size: 14px;
	color: white;
	background-color: #1f1f1f;
}

.input label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	pointer-events: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: white;
}

.input label::after {
	content:'';
	position: absolute;
	height:100%;
	width:100%;
	border-bottom: 3px solid #00ffbc;
	left: 0px;
	bottom: -2px;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

input[type='file']{
	display: none;
}

.profileimg {
	border:1px solid black;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

span {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.input input:focus + label span, 
.input input:valid + label span {
	transform: translateY(-150%);
	font-size: 14px;
	color:#00ffbc;
}

.input input:focus + label::after, .input input:valid + label::after {
	transform: translateX(0%);
}

.main-container div {
	display: flex;
	align-items: center;
}

.main-container div p {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.loginButton {
	text-decoration-line: underline;
	text-decoration-color: #00ffbc;
}

.loginButton:hover {
	color:#00ffbc;
}

button {
	outline:none;
	border:2px solid transparent;
	background-color: black;
	width: 150px;
	height:50px;
	font-size: 14px;
	color:white;
	margin: 5px;
	cursor: pointer;
	border-radius: 15px;
}

button:hover {
	border:2px solid #00ffbc;
	color: #00ffbc;
}





